<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Results</title>
  </head>
  <body>
    <form method="POST" action="/submit">
      <label for="Science">Science</label>
      <input type="text" id="science" name="science" />
      <label for="Math">Math</label>
      <input type="text" id="math" name="math" />
      <label for="Python">Python</label>
      <input type="text" id="python" name="python" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
